<!DOCTYPE html>
<html>

<head>
    <title>Sign_In</title>
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="">  -->
</head>

<body>
    <header class="top_bar">
        <span class="name">Inventory Management System</span>
    </header>


    <main>
        <h1><a class="h1">Logged In</a></h1>
        <h2>Iplement user log in stuff</h2>
    </main>


    <footer class="footer">
        <div class="bottomLeft">
            <h6> CPSC 449 - SPRING 2025 - Project 1</h6>
            <span>MATTHEW AMORA</span> 
            <span>ISLA KIM</span>
            <span>EVAN NG</span>
            <span>KARENE ROSALES</span> 
            <span>ELIZABETH STEUBS</span> 
        </div>
    </footer>


</body>



</html>